:root {
  /* Colors */
  --color-black: #121212;
  --color-theme: #fcd31b;
  --color-white: #ffffff;
  --color-background: #f4f4f4;

  /* Shadows */
  --shadow-elements: 0px 0px 20px rgba(0, 0, 0, 0.1);

  /* Design elements */
  --transition: 300ms ease-in-out;
}

/* reset wordpress content */
#content {
  margin: 0 !important;
  padding: 0 !important;
  width: 100vw !important;
}
